adf/pipeline/GetSet Video Views.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Video Stats",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://www.googleapis.com/youtube/v3/videos?part=statistics&id=@{pipeline().parameters.VideoId}&key=AIzaSyAfU7nGfid93Hlfe2Qe7qSUQlZOdM-dQY0",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Insert Log Record",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Video Stats",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SetViewsLogEntry]",
					"storedProcedureParameters": {
						"VideoId": {
							"value": {
								"value": "@pipeline().parameters.VideoId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Views": {
							"value": {
								"value": "@activity('Get Video Stats').output.items[0].statistics.viewCount",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SpeakingLogs",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"VideoId": {
				"type": "string",
				"defaultValue": "M5pSoMf5w7o"
			}
		},
		"annotations": []
	}
}