adf/pipeline/Update Video Log.json
{
	"name": "Update Video Log",
	"properties": {
		"activities": [
			{
				"name": "Get Video Ids",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [VideoId] FROM [dbo].[VideoDetails]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetDatabaseValues",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Update Video Log per Id",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Video Ids",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set First Log Entry",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get API Key from Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Video Ids').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get Set Video Log",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GetSet Video Views",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"VideoId": {
										"value": "@item().VideoId",
										"type": "Expression"
									},
									"APIKey": {
										"value": "@activity('Get API Key from Key Vault').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set First Log Entry",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SetFirstVideoLogEntry]"
				},
				"linkedServiceName": {
					"referenceName": "SpeakingLogs",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get API Key from Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://infokeystore.vault.azure.net/secrets/YouTubeAPIKey?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}